<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  
  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="TIMELINE" name="Results viewer shows items using Simile timeline widget" version="1.0" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in adds a new results viewer which will show the results of a search (or browse) graphically on a timeline. Based on the Simile Widgets Timeline.</Description>
      <Authors>
        <Author name="Bernardy, Richard" email="richardb1701@hotmail.com" />
        <Author name="Sullivan, Mark" email="Mark.V.Sullivan@sobekdigital.com" />
      </Authors>
      <Permissions>Plug-in will be released as open-source under the GNU General Public License</Permissions>
    </AdminInfo>

    <!-- Reference one of more assemblies (referenced relative to the plugin folder) -->
    <Assembly id="SimileTimeline" name="SimileTimeline.dll" />
  </Extension>

  <!-- Add the new timeline results viewer -->
  <WriterViewers>
    <SpecialWriters>
      <ResultsWriterConfig>
        <ResultsViewers>
          <ResultsViewer type="TIMELINE" viewerCode="TIMELINE" assembly="SimileTimeline" class="SimileTimeline.SimileTimeline_ResultsViewer" enabled="true" label="Simile Timeline View" icon="[Brief_Blue_Img]" description="View the results in a Simile timeline widget view" />
        </ResultsViewers>
      </ResultsWriterConfig>
    </SpecialWriters>
  </WriterViewers>
  
</SobekCM_Config>