/*
@import url("../styles.css");
*/

.footnotes {
    background: #eee;
    padding: 0.25em;
}

.controls {
    margin: 1em 0;
    padding: 0.5em;
}

.controlinput
{
	width:100px;
	position: relative;
    display: block;
    margin : 0 auto;
}

.controlinput + div
{
	width:102px;
	margin-left:auto;
	margin-right:auto;
}

#controls button
{
	position: relative;
    display: block;
    margin : 0 auto;
}

#controls > table > tbody > tr > td
{
	text-align:center;
}

#exclusiondiv > p > a
{
	text-decoration: underline;
}